<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Pseudo</th>
      <th scope="col">Score</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of this.collegues">
      <td>
        <a routerLink="/detail/{{obj.pseudo}}"><img src={{obj.urlImage}} alt={{obj.pseudo}} style="width: 6rem; height: 6rem;"></a>
      </td>
      <td>{{obj.pseudo | uppercase}}</td>
      <td>{{obj.score}}</td>
      <td>
        <small class="text-muted">
          <button (click)="jaime(obj)" type="button" class="btn btn-outline-success mr-4">J'aime</button>
          <button (click)="jedeteste(obj)" type="button" class="btn btn-outline-danger">Je deteste</button>
        </small>
      </td>
    </tr>
  </tbody>
</table>
