<body class="container">
  <h1> Top Collègues </h1>

  <h2>Les meilleurs collègues du moment !</h2>
  <form id="formulaire">
    <div class="form-group">
      <label for="exampleInputEmail1">Pseudo</label>
      <input type="text" class="form-control" id="inputPseudo" placeholder="Pseudo" #pseudo>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">URL</label>
      <input type="text" class="form-control" id="inputUrl" placeholder="URL de l'image" #imageUrl>
    </div>
    <button (click)="add(pseudo, imageUrl)" class="btn btn-primary">Ajouter</button>
  </form>

  <div *ngIf="insertion">
    <div class="p-3 mb-2 bg-success text-white">Le collègue {{nouveau}} à été ajouté.</div>
  </div>
  <div>

<div class="row">
    <div class="card-deck" *ngFor="let obj of this.collegues">
      <app-un-collegue [collegue]="obj"></app-un-collegue>
    </div>
</div>